In [1]:
print("pgm1")
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
sorted_ages = sorted(ages)
min_age = sorted_ages[0]
max_age = sorted_ages[-1]

ages.extend([min_age, max_age])
sorted_ages = sorted(ages)
n = len(sorted_ages)
if n % 2 == 0:
    median_age = (sorted_ages[n//2 - 1] + sorted_ages[n//2]) / 2
else:
    median_age = sorted_ages[n//2]
average_age = sum(sorted_ages) / n
age_range = max_age - min_age
(min_age, max_age, median_age, average_age, age_range)
print("Min age:", min_age)
print("Max age:", max_age)
print("Median age:", median_age)
print("Average age:", average_age)
print("Age range:", age_range)

pgm1
Min age: 19
Max age: 26
Median age: 24.0
Average age: 22.75
Age range: 7

In [2]:
print("pgm2")
dog = {}
dog['name'] = 'Tusk'
dog['color'] = 'white'
dog['breed'] = 'Shih Tzu'
dog['legs'] = 4
dog['age'] = 5
student = {
    'first_name': 'Niteesh',
    'last_name': 'Pujari',
    'gender': 'Male',
    'age': 20,
    'marital_status': 'Single',
    'skills': ['Python', 'C#', 'Java'],
    'country': 'USA',
    'city': 'Overland park',
    'address': '13831 Fairways'
}
student_length = len(student)
skills = student['skills']
skills_type = type(skills)
student['skills'].extend(['Machine Learning', 'Deep Learning'])
student_keys = list(student.keys())
student_values = list(student.values())
print("Dog dictionary:", dog)
print("Student dictionary:", student)
print("Length of student dictionary:", student_length)
print("Skills:", skills)
print("Type of skills:", skills_type)
print("Student keys:", student_keys)
print("Student values:", student_values)

pgm2
Dog dictionary: {'name': 'Tusk', 'color': 'white', 'breed': 'Shih Tzu', 'legs': 4, 'age': 5}
Student dictionary: {'first_name': 'Niteesh', 'last_name': 'Pujari', 'gender': 'Male', 'age': 20, 'marital_status': 'Single', 'skills': ['Python', 'C#', 'Java', 'Machine Learning', 'Deep Learning'], 'country': 'USA', 'city': 'Overland park', 'address': '13831 Fairways'}
Length of student dictionary: 9
Skills: ['Python', 'C#', 'Java', 'Machine Learning', 'Deep Learning']
Type of skills: <class 'list'>
Student keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student values: ['Niteesh', 'Pujari', 'Male', 20, 'Single', ['Python', 'C#', 'Java', 'Machine Learning', 'Deep Learning'], 'USA', 'Overland park', '13831 Fairways']

In [3]:
print("pgm3")
sisters = ("Anitha", "Prathyu", "Hani")
brothers = ("Anudeep", "Thejdeep", "Saideep")
siblings = sisters + brothers
num_siblings = len(siblings)
parents = ("Father", "Mother")
family_members = siblings + parents

print("Sisters:", sisters)
print("Brothers:", brothers)
print("Siblings:", siblings)
print("Number of siblings:", num_siblings)
print("Family members:", family_members)

pgm3
Sisters: ('Anitha', 'Prathyu', 'Hani')
Brothers: ('Anudeep', 'Thejdeep', 'Saideep')
Siblings: ('Anitha', 'Prathyu', 'Hani', 'Anudeep', 'Thejdeep', 'Saideep')
Number of siblings: 6
Family members: ('Anitha', 'Prathyu', 'Hani', 'Anudeep', 'Thejdeep', 'Saideep', 'Father', 'Mother')

In [4]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

length_it_companies = len(it_companies)
print("Length of it_companies:", length_it_companies)
it_companies.add('Twitter')
print("it_companies after adding 'Twitter':", it_companies)
it_companies.update(['Adobe', 'Salesforce', 'Netflix'])
print("it_companies after adding multiple companies:", it_companies)
it_companies.remove('Adobe')
print("it_companies after removing 'Adobe':", it_companies)
A_union_B = A.union(B)
print("A union B:", A_union_B)
A_intersection_B = A.intersection(B)
print("A intersection B:", A_intersection_B)
is_A_subset_B = A.issubset(B)
print("Is A subset of B:", is_A_subset_B)
are_A_B_disjoint = A.isdisjoint(B)
print("Are A and B disjoint:", are_A_B_disjoint)
A_join_B = A.union(B)
B_join_A = B.union(A)
print("A join B:", A_join_B)
print("B join A:", B_join_A)
A_symmetric_difference_B = A.symmetric_difference(B)
print("A symmetric difference B:", A_symmetric_difference_B)
del A
del B
print("Sets A and B deleted.")
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
length_age_list = len(age)
length_age_set = len(age_set)
print("Length of age list:", length_age_list)
print("Length of age set:", length_age_set)

Length of it_companies: 7
it_companies after adding 'Twitter': {'IBM', 'Facebook', 'Oracle', 'Microsoft', 'Apple', 'Amazon', 'Google', 'Twitter'}
it_companies after adding multiple companies: {'Amazon', 'Netflix', 'IBM', 'Adobe', 'Oracle', 'Microsoft', 'Google', 'Twitter', 'Facebook', 'Apple', 'Salesforce'}
it_companies after removing 'Adobe': {'Amazon', 'Netflix', 'IBM', 'Oracle', 'Microsoft', 'Google', 'Twitter', 'Facebook', 'Apple', 'Salesforce'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint: False
A join B: {19, 20, 22, 24, 25, 26, 27, 28}
B join A: {19, 20, 22, 24, 25, 26, 27, 28}
A symmetric difference B: {27, 28}
Sets A and B deleted.
Length of age list: 8
Length of age set: 5

In [5]:
print("pgm5")
import math
radius = 30
_area_of_circle_ = math.pi * radius ** 2
print("Area of the circle:", _area_of_circle_)
_circum_of_circle_ = 2 * math.pi * radius
print("Circumference of the circle:", _circum_of_circle_)
user_radius = float(input("Enter the radius of the circle: "))
user_area_of_circle = math.pi * user_radius ** 2
print("Area of the circle with radius", user_radius, "is:", user_area_of_circle)

pgm5
Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Enter the radius of the circle: 10
Area of the circle with radius 10.0 is: 314.1592653589793

In [6]:
print("pgm6")
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
unique_words = set(words)
num_unique_words = len(unique_words)
print("Number of unique words:", num_unique_words)
print("Unique words:", unique_words)

pgm6
Number of unique words: 10
Unique words: {'I', 'love', 'and', 'inspire', 'teach', 'people', 'a', 'to', 'teacher', 'am'}

In [8]:
print("pgm7")

print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

pgm7
Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [10]:
print("pgm8")

radius = 10
area = 3.14 * radius ** 2
message = f"The area of a circle with radius {radius} is {area} meters square."
print(message)

pgm8
The area of a circle with radius 10 is 314.0 meters square.

In [12]:
print("pgm9")

conversion_factor = 0.4535923
N = int(input("Enter the number of students: "))
weights_lbs = []
for i in range(N):
    weight = float(input(f"Enter the weight of student {i+1} in pounds: "))
    weights_lbs.append(weight)
weights_kg = []
for weight in weights_lbs:
    weight_kg = round(weight * conversion_factor, 2)
    weights_kg.append(weight_kg)

print("Weights in kilograms:", weights_kg)

pgm9
Enter the number of students: 3
Enter the weight of student 1 in pounds: 100
Enter the weight of student 2 in pounds: 200
Enter the weight of student 3 in pounds: 300
Weights in kilograms: [45.36, 90.72, 136.08]