In [1]:
def left_pascals_triangle(rows):
    for i in range(1, rows + 1):
        for j in range(i):
            print("*", end="")
        print()
    for i in range(rows - 1, 0, -1):
        for j in range(i):
            print("*", end="")
        print()
rows = 6
left_pascals_triangle(rows)

*
**
***
****
*****
******
*****
****
***
**
*

In [2]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(len(my_list)):
    if i % 2 != 0:
        print(my_list[i])

20
40
60
80
100

In [3]:
x = [23, 'Python', 23.98]
types_list = []
for element in x:
    types_list.append(type(element))
print(x)
print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [4]:
def get_unique_items(input_list):
    unique_set = set(input_list)
    unique_list = list(unique_set)
    return unique_list
sample_list = [1, 2, 3, 3, 3, 3, 4, 5]
unique_list = get_unique_items(sample_list)
print("Sample List:", sample_list)
print("Unique List:", unique_list)

Sample List: [1, 2, 3, 3, 3, 3, 4, 5]
Unique List: [1, 2, 3, 4, 5]

In [5]:
def count_upper_lower(input_string):
    upper_count = 0
    lower_count = 0

    for char in input_string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return upper_count, lower_count
input_string = 'The quick Brow Fox'
upper_count, lower_count = count_upper_lower(input_string)
print("No. of Upper-case characters:", upper_count)
print("No. of Lower-case Characters:", lower_count)

No. of Upper-case characters: 3
No. of Lower-case Characters: 12